## Lendo bibliotecas

In [1]:
import math
import numpy as np
import pandas as pd
%config Completer.use_jedi = False # this speeds up autocomplete

### Replicando VIKOR (Capítulo de livro)

In [242]:
nome_sites = ['Site 1',
              'Site 2',
              'Site 3',
              'Site 4',
              'Site 5',
              'Site 6']

nome_colunas = ['costs', 'needs',
                'social impact', 'env. impact']

criteria = ['+', '+', '+', '+']
weight = [0.4, 0.3, 0.1, 0.2]

matrix = [
    [8, 7, 2, 1],
    [5, 3, 7, 5],
    [7, 5, 6, 4],
    [9, 9, 7, 3],
    [11, 10, 3, 7],
    [6, 9, 5, 4]
]

# Transformando matriz em dataframe
df = pd.DataFrame(matrix,
                  columns = nome_colunas,
                  index = nome_sites)

df

        costs  needs  social impact  env. impact
Site 1      8      7              2            1
Site 2      5      3              7            5
Site 3      7      5              6            4
Site 4      9      9              7            3
Site 5     11     10              3            7
Site 6      6      9              5            4

In [243]:
# Hiperparâmetros
matrix = np.array(matrix).T

n_columns = np.shape(matrix)[0]
n_lines = np.shape(matrix)[1]

Sj_list = []
Rj_list = []
Sj_temp_list = []
Qj_list = []
v = 0.5

# Definindo valores
for j in range(0, n_columns):
    
    for i in range(0, n_lines):
        
        if (criteria[j] == '-'):

            Fi_plus = min(matrix[j]) # best criteria value
            Fi_minus = max(matrix[j]) # worst criteria value
        
        else:
            Fi_plus = max(matrix[j]) # best criteria value
            Fi_minus = min(matrix[j]) # worst criteria value
        
        w = weight[j]
        case = matrix[j][i] # case value
        
        Sj = w * (Fi_plus - case)/(Fi_plus - Fi_minus)
        Sj_temp_list.append(Sj)

# Criando Sj e Rj
Sj_temp_list = np.reshape(Sj_temp_list, (n_columns, n_lines)).T
        
for i in range(0, n_lines):
    Sj = sum(Sj_temp_list[i])
    Sj_list.append(Sj)
    
    Rj = max(Sj_temp_list[i])
    Rj_list.append(Rj)
    
# Criando Qj
for i in range(0, n_lines):
    S_min = min(Sj_list)
    S_max = max(Sj_list)
    R_min = min(Rj_list)
    R_max = max(Rj_list)
    
    diff_S = S_max - S_min
    diff_R = R_max - R_min
    
    S = Sj_list[i]
    R = Rj_list[i]
    
    Qj = v * (S - S_min)/diff_S + (1 - v) * (R - R_min)/diff_R
    
    Qj_list.append(Qj)

# Acceptable Advantages C1
C1 = []
for i in range(0, n_lines):
     
    if i == n_lines - 1:
        C1.append('No')
    
    else:
        Q_a2 = Qj_list[i + 1]
        Q_a1 = Qj_list[i]
        
        DQ = 1/(n_lines - 1)
        
        if (Q_a2 - Q_a1 >= DQ):
            C1.append('Yes')
        else:
            C1.append('No')
            
# Acceptable Stability
C2 = []
for i in range(0, n_lines):
     
    if i >= 2:
        C2.append('No')
    
    else:
        if ((min(Sj_list) == Sj_list[i]) or (min(Rj_list) == Rj_list[i])):
            C2.append('Yes')
        
        else:
            C2.append('No')

# Visualizando
df['S'] = [round(num, 4) for num in Sj_list]
df['R'] = [round(num, 4) for num in Rj_list]
df['Q'] = [round(num, 4) for num in Qj_list]
df['C1'] = C1
#df['C2'] = C2

#df = df.sort_values(by = 'Q')
#df['Rank'] = range(1, n_lines + 1)
df

        costs  needs  social impact  env. impact       S       R       Q   C1
Site 1      8      7              2            1  0.6286  0.2000  0.5869  Yes
Site 2      5      3              7            5  0.7667  0.4000  1.0000   No
Site 3      7      5              6            4  0.6010  0.2667  0.6710   No
Site 4      9      9              7            3  0.3095  0.1333  0.2505   No
Site 5     11     10              3            7  0.0800  0.0800  0.0000  Yes
Site 6      6      9              5            4  0.5162  0.3333  0.7134   No

## Escolhendo computadores (https://www.youtube.com/watch?v=WMX3SVnvRls)

In [157]:
nome_pc = ['Dell',
           'HP',
           'Lenovo',
           'Asus',
           'Acer',
           'Sony',
           'Apple',
           'Toshiba']

nome_colunas = ['price', 'ram', 'hard_disc', 'weight']
criteria = ['-', '+', '+', '-']

weight = [0.25, 0.25, 0.25, 0.25]

matrix = [
    [43000,  4, 1000, 1.5],
    [45000,  6,  750, 1.7],
    [35000,  8, 1000, 2.0],
    [38000,  6,  750, 2.1],
    [39000,  8,  900, 1.8],
    [46000,  6,  750, 1.2],
    [50000,  6,  600, 1.1],
    [42000, 10,  800, 2.5]
]

# Transformando matriz em dataframe
df = pd.DataFrame(matrix,
                  columns = nome_colunas,
                  index = nome_pc)
df

         price  ram  hard_disc  weight
Dell     43000    4       1000     1.5
HP       45000    6        750     1.7
Lenovo   35000    8       1000     2.0
Asus     38000    6        750     2.1
Acer     39000    8        900     1.8
Sony     46000    6        750     1.2
Apple    50000    6        600     1.1
Toshiba  42000   10        800     2.5

In [158]:
# Hiperparâmetros
matrix = np.array(matrix).T

n_columns = np.shape(matrix)[0]
n_lines = np.shape(matrix)[1]

Sj_list = []
Rj_list = []
Sj_temp_list = []
Qj_list = []
v = 0.5

# Definindo valores
for j in range(0, n_columns):
    
    for i in range(0, n_lines):
        
        if (criteria[j] == '-'):

            Fi_plus = min(matrix[j]) # highest criteria value
            Fi_minus = max(matrix[j]) # lowest criteria value
        
        else:
            Fi_plus = max(matrix[j]) # highest criteria value
            Fi_minus = min(matrix[j]) # lowest criteria value
        
        w = weight[j]
        case = matrix[j][i] # case value
        
        Sj = w * (Fi_plus - case)/(Fi_plus - Fi_minus)
        Sj_temp_list.append(Sj)

# Criando Sj e Rj
Sj_temp_list = np.reshape(Sj_temp_list, (n_columns, n_lines)).T
        
for i in range(0, n_lines):
    Sj = sum(Sj_temp_list[i])
    Sj_list.append(round(Sj, 4))
    
    Rj = max(Sj_temp_list[i])
    Rj_list.append(round(Rj, 4))
    
# Criando Qj
for i in range(0, n_lines):
    S_min = min(Sj_list)
    S_max = max(Sj_list)
    R_min = min(Rj_list)
    R_max = max(Rj_list)
    
    diff_S = S_max - S_min
    diff_R = R_max - R_min
    
    S = Sj_list[i]
    R = Rj_list[i]
    
    Qj = v * (S - S_min)/diff_S + (1 - v) * (R - R_min)/diff_R
    
    Qj_list.append(round(Qj, 4))

# Acceptable Advantages C1
C1 = []
for i in range(0, n_lines):
     
    if i == n_lines - 1:
        C1.append('No')
    
    else:
        Q_a2 = Qj_list[i + 1]
        Q_a1 = Qj_list[i]
        
        DQ = 1/(n_lines - 1)
        
        if (Q_a2 - Q_a1 >= DQ):
            C1.append('Yes')
        else:
            C1.append('No')
            
# Acceptable Stability
#C2 = []
#for i in range(0, n_lines):
#     
#    if i >= 2:
#        C2.append('No')
#    
#    else:
#        if ((min(Sj_list) == Sj_list[i]) or (min(Rj_list) == Rj_list[i])):
#            C2.append('Yes')
#        
#        else:
#            C2.append('No')

# Visualizando
df['S'] = Sj_list
df['R'] = Rj_list
df['Q'] = Qj_list
df['C1'] = C1
#df['C2'] = C2

df = df.sort_values(by = 'Q')
df['Rank'] = range(1, n_lines + 1)
df

         price  ram  hard_disc  weight       S       R       Q   C1  Rank
Acer     39000    8        900     1.8  0.3375  0.1250  0.1106  Yes     1
Lenovo   35000    8       1000     2.0  0.2440  0.1607  0.1428  Yes     2
Sony     46000    6        750     1.2  0.5241  0.1833  0.5645  Yes     3
Asus     38000    6        750     2.1  0.5515  0.1786  0.5781   No     4
HP       45000    6        750     1.7  0.5967  0.1667  0.5840   No     5
Dell     43000    4       1000     1.5  0.4548  0.2500  0.7493   No     6
Toshiba  42000   10        800     2.5  0.4917  0.2500  0.7930   No     7
Apple    50000    6        600     1.1  0.6667  0.2500  1.0000   No     8

## Escolhendo celulares (https://www.youtube.com/watch?v=P09VulFOZIc)

In [228]:
nome_cel = ['Mobile 1',
           'Mobile 2',
           'Mobile 3',
           'Mobile 4',
           'Mobile 5']

nome_colunas = ['cost', 'storage', 'camera', 'looks']
criteria = ['-', '+', '+', '+']

weight = [0.35, 0.30, 0.20, 0.15]

matrix = [
    [250, 16, 12, 5],
    [200, 16, 8, 3],
    [300, 32, 16, 4],
    [275, 32, 8, 4],
    [225, 16, 16, 2]
]

# Transformando matriz em dataframe
df = pd.DataFrame(matrix,
                  columns = nome_colunas,
                  index = nome_cel)
df

          cost  storage  camera  looks
Mobile 1   250       16      12      5
Mobile 2   200       16       8      3
Mobile 3   300       32      16      4
Mobile 4   275       32       8      4
Mobile 5   225       16      16      2

In [229]:
# Hiperparâmetros
matrix = np.array(matrix).T

n_columns = np.shape(matrix)[0]
n_lines = np.shape(matrix)[1]

Sj_list = []
Rj_list = []
Sj_temp_list = []
Qj_list = []
v = 0.5

# Definindo valores
for j in range(0, n_columns):
    
    for i in range(0, n_lines):
        
        if (criteria[j] == '-'):

            Fi_plus = min(matrix[j]) # highest criteria value
            Fi_minus = max(matrix[j]) # lowest criteria value
        
        else:
            Fi_plus = max(matrix[j]) # highest criteria value
            Fi_minus = min(matrix[j]) # lowest criteria value
        
        w = weight[j]
        case = matrix[j][i] # case value
        
        Sj = w * (Fi_plus - case)/(Fi_plus - Fi_minus)
        Sj_temp_list.append(Sj)

# Criando Sj e Rj
Sj_temp_list = np.reshape(Sj_temp_list, (n_columns, n_lines)).T
        
for i in range(0, n_lines):
    Sj = sum(Sj_temp_list[i])
    Sj_list.append(round(Sj, 4))
    
    Rj = max(Sj_temp_list[i])
    Rj_list.append(round(Rj, 4))
    
# Criando Qj
for i in range(0, n_lines):
    S_min = min(Sj_list)
    S_max = max(Sj_list)
    R_min = min(Rj_list)
    R_max = max(Rj_list)
    
    diff_S = S_max - S_min
    diff_R = R_max - R_min
    
    S = Sj_list[i]
    R = Rj_list[i]
    
    Qj = v * (S - S_min)/diff_S + (1 - v) * (R - R_min)/diff_R
    
    Qj_list.append(round(Qj, 4))

# Acceptable Advantages C1
C1 = []
for i in range(0, n_lines):
     
    if i == n_lines - 1:
        C1.append('No')
    
    else:
        Q_a2 = Qj_list[i + 1]
        Q_a1 = Qj_list[i]
        
        DQ = 1/(n_lines - 1)
        
        if (Q_a2 - Q_a1 >= DQ):
            C1.append('Yes')
        else:
            C1.append('No')
            
# Acceptable Stability
#C2 = []
#for i in range(0, n_lines):
#     
#    if i >= 2:
#        C2.append('No')
#    
#    else:
#        if ((min(Sj_list) == Sj_list[i]) or (min(Rj_list) == Rj_list[i])):
#            C2.append('Yes')
#        
#        else:
#            C2.append('No')

# Visualizando
df['S'] = Sj_list
df['R'] = Rj_list
df['Q'] = Qj_list
df['C1'] = C1
#df['C2'] = C2

df = df.sort_values(by = 'Q')
df['Rank'] = range(1, n_lines + 1)
df

          cost  storage  camera  looks       S       R       Q   C1  Rank
Mobile 4   275       32       8      4  0.5125  0.2625  0.2812  Yes     1
Mobile 3   300       32      16      4  0.4000  0.3500  0.5000   No     2
Mobile 5   225       16      16      2  0.5375  0.3000  0.5580   No     3
Mobile 1   250       16      12      5  0.5750  0.3000  0.6518   No     4
Mobile 2   200       16       8      3  0.6000  0.3000  0.7143   No     5

## Replicando "Multi-criteria decision-making in the selection of a renewable energy project in Spain: The Vikor method"

In [246]:
nome_ab_energia = [
    'A1', 'A2', 'A3', 'A4',
    'A5', 'A6', 'A7', 'A8',
    'A9', 'A10', 'A11', 'A12', 'A13']

nome_energia = [
    'Wind power P≤5 MW',
    'Wind power 5 ≤ P ≤10 MW',
    'Wind power 10 ≤ P ≤ 50 MW',
    'Hydroelectric P ≤ 10 MW',
    'Hydroelectric 10 ≤ P ≤ 25 MW',
    'Hydroelectric 25 ≤ P ≤ 50 MW',
    'Solar Thermo-electric P ≤ 10 MW',
    'Biomass (energetic cultivations) P ≤ 5 MW',
    'Biomass (forest and agricultural wastes) P ≤ 5 MW',
    'Biomass (farming industrial wastes) P ≤ 5 MW',
    'Biomass (forest industrial wastes) P ≤ 5 MW',
    'Biomass (co-combustion in conventional central) P ≤ 50 MW',
    'Bio fuels P ≤ 2 MW'
]

nome_colunas = ['Power', 'Invest. Ratio', 'Implement. Period',
                'Op. Hours', 'Useful Life',
                'Op&Maint Costs', 'tCO2/y']

criteria = ['+', '-', '-', '+', '+', '-', '+']

weight = [0.32, 0.09, 0.03, 0.12, 0.13, 0.04, 0.27]

matrix = [
    [ 5000,  937,   1, 2350, 20, 1.470, 1929936],
    [10000,  937,   1, 2350, 20, 1.470, 3216560],
    [25000,  937,   1, 2350, 20, 1.510, 9649680],
    [ 5000, 1500, 1.5, 3100, 25, 1.450,  472812],
    [20000,  700,   2, 2000, 25, 0.700,  255490],
    [35000,  601, 2.5, 2000, 25, 0.600,  255490],
    [50000, 5000,   2, 2596, 25, 4.200,  482856],
    [ 5000, 1803,   1, 7500, 15, 7.106, 2524643],
    [ 5000, 1803,   1, 7500, 15, 5.425, 2524643],
    [ 5000, 1803,   1, 7500, 15, 5.425, 2524643],
    [ 5000, 1803,   1, 7500, 15, 2.813, 2524643],
    [56000,  856,   1, 7500, 20, 4.560, 4839548],
    [ 2000, 1503, 1.5, 7000, 20, 2.512, 5905270]
]

# Transformando matriz em dataframe
df = pd.DataFrame(matrix,
                  columns = nome_colunas,
                  index = nome_energia)
df

,Power,Invest. Ratio,Implement. Period,Op. Hours,Useful Life,Op&Maint Costs,tCO2/y
Wind power P≤5 MW,5000,937,1.0,2350,20,1.470,1929936
Wind power 5 ≤ P ≤10 MW,10000,937,1.0,2350,20,1.470,3216560
Wind power 10 ≤ P ≤ 50 MW,25000,937,1.0,2350,20,1.510,9649680
Hydroelectric P ≤ 10 MW,5000,1500,1.5,3100,25,1.450,472812
Hydroelectric 10 ≤ P ≤ 25 MW,20000,700,2.0,2000,25,0.700,255490
Hydroelectric 25 ≤ P ≤ 50 MW,35000,601,2.5,2000,25,0.600,255490
Solar Thermo-electric P ≤ 10 MW,50000,5000,2.0,2596,25,4.200,482856
Biomass (energetic cultivations) P ≤ 5 MW,5000,1803,1.0,7500,15,7.106,2524643
Biomass (forest and agricultural wastes) P ≤ 5 MW,5000,1803,1.0,7500,15,5.425,2524643
Biomass (farming industrial wastes) P ≤ 5 MW,5000,1803,1.0,7500,15,5.425,2524643
Biomass (forest industrial wastes) P ≤ 5 MW,5000,1803,1.0,7500,15,2.813,2524643
Biomass (co-combustion in conventional central) P ≤ 50 MW,56000,856,1.0,7500,20,4.560,4839548
Bio fuels P ≤ 2 MW,2000,1503,1.5,7000,20,2.512,5905270

In [247]:
# Hiperparâmetros
matrix = np.array(matrix).T

n_columns = np.shape(matrix)[0]
n_lines = np.shape(matrix)[1]

Sj_list = []
Rj_list = []
Sj_temp_list = []
Qj_list = []
v = 0.5

# Definindo valores
for j in range(0, n_columns):
    
    for i in range(0, n_lines):
        
        if (criteria[j] == '-'):

            Fi_plus = min(matrix[j]) # highest criteria value
            Fi_minus = max(matrix[j]) # lowest criteria value
        
        else:
            Fi_plus = max(matrix[j]) # highest criteria value
            Fi_minus = min(matrix[j]) # lowest criteria value
        
        w = weight[j]
        case = matrix[j][i] # case value
        
        Sj = w * (Fi_plus - case)/(Fi_plus - Fi_minus)
        Sj_temp_list.append(Sj)

# Criando Sj e Rj
Sj_temp_list = np.reshape(Sj_temp_list, (n_columns, n_lines)).T
        
for i in range(0, n_lines):
    Sj = sum(Sj_temp_list[i])
    Sj_list.append(Sj)
    
    Rj = max(Sj_temp_list[i])
    Rj_list.append(Rj)
    
# Criando Qj
for i in range(0, n_lines):
    S_min = min(Sj_list)
    S_max = max(Sj_list)
    R_min = min(Rj_list)
    R_max = max(Rj_list)
    
    diff_S = S_max - S_min
    diff_R = R_max - R_min
    
    S = Sj_list[i]
    R = Rj_list[i]
    
    Qj = v * (S - S_min)/diff_S + (1 - v) * (R - R_min)/diff_R
    
    Qj_list.append(Qj)

# Acceptable Advantages C1
C1 = []
for i in range(0, n_lines):
     
    if i == n_lines - 1:
        C1.append('No')
    
    else:
        Q_a2 = Qj_list[i + 1]
        Q_a1 = Qj_list[i]
        
        DQ = 1/(n_lines - 1)
        
        if (Q_a2 - Q_a1 >= DQ):
            C1.append('Yes')
        else:
            C1.append('No')
            
# Acceptable Stability
C2 = []
for i in range(0, n_lines):
     
    if i >= 2:
        C2.append('No')
    
    else:
        if ((min(Sj_list) == Sj_list[i]) or (min(Rj_list) == Rj_list[i])):
            C2.append('Yes')
        
        else:
            C2.append('No')

# Visualizando
df['S'] = [round(num, 2) for num in Sj_list]
df['R'] = [round(num, 2) for num in Rj_list]
df['Q'] = [round(num, 2) for num in Qj_list]
df['C1'] = C1
#df['C2'] = C2

#df = df.sort_values(by = 'Q')
#df['Rank'] = range(1, n_lines + 1)
df

,Power,Invest. Ratio,Implement. Period,Op. Hours,Useful Life,Op&Maint Costs,tCO2/y,S,R,Q,C1
Wind power P≤5 MW,5000,937,1.0,2350,20,1.470,1929936,0.71,0.30,0.95,No
Wind power 5 ≤ P ≤10 MW,10000,937,1.0,2350,20,1.470,3216560,0.65,0.27,0.80,No
Wind power 10 ≤ P ≤ 50 MW,25000,937,1.0,2350,20,1.510,9649680,0.37,0.18,0.27,Yes
Hydroelectric P ≤ 10 MW,5000,1500,1.5,3100,25,1.450,472812,0.70,0.30,0.93,No
Hydroelectric 10 ≤ P ≤ 25 MW,20000,700,2.0,2000,25,0.700,255490,0.63,0.27,0.77,No
Hydroelectric 25 ≤ P ≤ 50 MW,35000,601,2.5,2000,25,0.600,255490,0.54,0.27,0.69,No
Solar Thermo-electric P ≤ 10 MW,50000,5000,2.0,2596,25,4.200,482856,0.54,0.26,0.66,Yes
Biomass (energetic cultivations) P ≤ 5 MW,5000,1803,1.0,7500,15,7.106,2524643,0.70,0.30,0.94,No
Biomass (forest and agricultural wastes) P ≤ 5 MW,5000,1803,1.0,7500,15,5.425,2524643,0.69,0.30,0.93,No
Biomass (farming industrial wastes) P ≤ 5 MW,5000,1803,1.0,7500,15,5.425,2524643,0.69,0.30,0.93,No
Biomass (forest industrial wastes) P ≤ 5 MW,5000,1803,1.0,7500,15,2.813,2524643,0.68,0.30,0.91,No
Biomass (co-combustion in conventional central) P ≤ 50 MW,56000,856,1.0,7500,20,4.560,4839548,0.23,0.14,0.00,Yes
Bio fuels P ≤ 2 MW,2000,1503,1.5,7000,20,2.512,5905270,0.54,0.32,0.82,No

## Replicando "Multi-Criteria Decision Making with the VIKOR and SMARTER Methods for Optimal Seller Selection from Several E-Marketplaces"

In [239]:
nome_marketplace = [
    'A1', 'A2', 'A3', 'A4',
    'A5', 'A6', 'A7', 'A8',
    'A9', 'A10', 'A11', 'A12',
    'A13', 'A14', 'A15']

nome_marketplace = [
    "one's_olshop",
    "Distributor Ponsel",
    "varelie ponsel",
    "Barokah Online Abadi",
    "HN Store 2003",
    "quenzyqee",
    "murah2019",
    "nashop7979",
    "hnstore2003",
    "shopeedia",
    "JAYA STORE",
    "Xiaomi Store",
    "Gojap",
    "Dsun Shop",
    "Metta Cell Bekasi"
]

nome_colunas = ['Seller Rating', 'Nob. 5 Stars', 'Price',
                'Products Sold', 'Distance']

criteria = ['+', '+', '-', '+', '-']

weight = [0.46, 0.26, 0.16, 0.09, 0.04]

matrix = [
    [4.9,  76, 1604000, 1093, 480],
    [4.7, 276, 1636000, 2207, 452],
    [5.0, 110, 1665000,  484, 452],
    [4.8,  64, 1625000,  207,  34],
    [5.0,  40, 1620000,  607, 446],
    [4.9,  93, 1600000,  453, 485],
    [4.9,   9, 1609999,   62, 463],
    [4.9,  39, 1610000,   70, 405],
    [4.8,   8, 1620000,   13, 446],
    [4.7,   6, 1675000,   20, 452],
    [4.7,  16, 1674000,   41, 444],
    [4.2,   1, 1673070,    8, 446],
    [4.8,  95, 1675000,  438, 452],
    [5.0,   9, 1625000,   13, 480],
    [5.0,   5, 1670000,   14, 424]
]

# Transformando matriz em dataframe
df = pd.DataFrame(matrix,
                  columns = nome_colunas,
                  index = nome_marketplace)
df

,Seller Rating,Nob. 5 Stars,Price,Products Sold,Distance
one's_olshop,4.9,76,1604000,1093,480
Distributor Ponsel,4.7,276,1636000,2207,452
varelie ponsel,5.0,110,1665000,484,452
Barokah Online Abadi,4.8,64,1625000,207,34
HN Store 2003,5.0,40,1620000,607,446
quenzyqee,4.9,93,1600000,453,485
murah2019,4.9,9,1609999,62,463
nashop7979,4.9,39,1610000,70,405
hnstore2003,4.8,8,1620000,13,446
shopeedia,4.7,6,1675000,20,452
JAYA STORE,4.7,16,1674000,41,444
Xiaomi Store,4.2,1,1673070,8,446
Gojap,4.8,95,1675000,438,452
Dsun Shop,5.0,9,1625000,13,480
Metta Cell Bekasi,5.0,5,1670000,14,424

In [240]:
# Hiperparâmetros
matrix = np.array(matrix).T

n_columns = np.shape(matrix)[0]
n_lines = np.shape(matrix)[1]

Sj_list = []
Rj_list = []
Sj_temp_list = []
Qj_list = []
v = 0.5

# Definindo valores
for j in range(0, n_columns):
    
    for i in range(0, n_lines):
        
        if (criteria[j] == '-'):

            Fi_plus = min(matrix[j]) # best criteria value
            Fi_minus = max(matrix[j]) # worst criteria value
        
        else:
            Fi_plus = max(matrix[j]) # best criteria value
            Fi_minus = min(matrix[j]) # worst criteria value
        
        w = weight[j]
        case = matrix[j][i] # case value
        
        Sj = w * (Fi_plus - case)/(Fi_plus - Fi_minus)
        Sj_temp_list.append(Sj)

# Criando Sj e Rj
Sj_temp_list = np.reshape(Sj_temp_list, (n_columns, n_lines)).T
        
for i in range(0, n_lines):
    Sj = sum(Sj_temp_list[i])
    Sj_list.append(Sj)
    
    Rj = max(Sj_temp_list[i])
    Rj_list.append(Rj)
    
# Criando Qj
for i in range(0, n_lines):
    S_min = min(Sj_list)
    S_max = max(Sj_list)
    R_min = min(Rj_list)
    R_max = max(Rj_list)
    
    diff_S = S_max - S_min
    diff_R = R_max - R_min
    
    S = Sj_list[i]
    R = Rj_list[i]
    
    Qj = v * (S - S_min)/diff_S + (1 - v) * (R - R_min)/diff_R
    
    Qj_list.append(Qj)

# Acceptable Advantages C1
C1 = []
for i in range(0, n_lines):
     
    if i == n_lines - 1:
        C1.append('No')
    
    else:
        Q_a2 = Qj_list[i + 1]
        Q_a1 = Qj_list[i]
        
        DQ = 1/(n_lines - 1)
        
        if (Q_a2 - Q_a1 >= DQ):
            C1.append('Yes')
        else:
            C1.append('No')
            
# Acceptable Stability
C2 = []
for i in range(0, n_lines):
     
    if i >= 2:
        C2.append('No')
    
    else:
        if ((min(Sj_list) == Sj_list[i]) or (min(Rj_list) == Rj_list[i])):
            C2.append('Yes')
        
        else:
            C2.append('No')

# Visualizando
df['S'] = [round(num, 2) for num in Sj_list]
df['R'] = [round(num, 2) for num in Rj_list]
df['Q'] = [round(num, 2) for num in Qj_list]
df['C1'] = C1
#df['C2'] = C2

#df = df.sort_values(by = 'Q')
#df['Rank'] = range(1, n_lines + 1)
df

,Seller Rating,Nob. 5 Stars,Price,Products Sold,Distance,S,R,Q,C1
one's_olshop,4.9,76,1604000,1093,480,0.34,0.19,0.09,No
Distributor Ponsel,4.7,276,1636000,2207,452,0.29,0.17,0.03,No
varelie ponsel,5.0,110,1665000,484,452,0.40,0.16,0.08,Yes
Barokah Online Abadi,4.8,64,1625000,207,34,0.45,0.20,0.19,No
HN Store 2003,5.0,40,1620000,607,446,0.37,0.22,0.17,No
quenzyqee,4.9,93,1600000,453,485,0.34,0.17,0.07,Yes
murah2019,4.9,9,1609999,62,463,0.46,0.25,0.28,No
nashop7979,4.9,39,1610000,70,405,0.42,0.22,0.21,Yes
hnstore2003,4.8,8,1620000,13,446,0.54,0.25,0.33,Yes
shopeedia,4.7,6,1675000,20,452,0.71,0.26,0.46,No
JAYA STORE,4.7,16,1674000,41,444,0.70,0.25,0.44,Yes
Xiaomi Store,4.2,1,1673070,8,446,1.00,0.46,1.00,No
Gojap,4.8,95,1675000,438,452,0.56,0.17,0.21,No
Dsun Shop,5.0,9,1625000,13,480,0.44,0.25,0.26,Yes
Metta Cell Bekasi,5.0,5,1670000,14,424,0.53,0.26,0.33,No

## [!] Replicando "An Extended VIKOR Method for Ranking Online Graduate Business Programs"

In [248]:
nome_faculdades = ['Arizona State University (Carey)',
                   'Indiana University-Bloomington (Kelley)',
                   'Washington State University',
                   'University of Florida (Hough)',
                   'Auburn University',
                   'University of Connecticut',
                   'California State University–Fullerton',
                   'University of Illinois–Springfield',
                   'Worcester Polytechnic Institute',
                   'Pennsylvania State University–World Campus',
                   'University of San Diego',
                   'University of Nebraska–Lincoln',
                   'Georgia College & State University (Bunting)',
                   'University of Massachusetts–Amherst (Isenberg)',
                   'Thunderbird School of Global Management',
                   'Central Michigan University',
                   'University of Michigan–Dearborn',
                   'University of North Texas',
                   'University of Tennessee–Martin',
                   'Syracuse University (Whitman)'
                  ]

id_faculdades = ['U1', 'U2', 'U3', 'U4', 'U5',
                 'U6', 'U7', 'U8', 'U9', 'U10',
                 'U11', 'U12', 'U13', 'U14', 'U15',
                 'U16', 'U17', 'U18', 'U19', 'U20']

nome_colunas = ['faculty', 'services',
                'engagement', 'selectivity', 'reputation']

criteria = ['+', '+', '+', '+', '+']
weight = [0.11, 0.11, 0.28, 0.25, 0.25]

matrix = [
    [71.7, 44.0, 81.8, 74.0, 74.0],
    [75.6, 40.0, 74.4, 71.4, 84.0],
    [84.2, 44.0, 87.1, 80.0, 58.0],
    [79.4, 46.7, 66.6, 75.0, 76.0],
    [86.6, 34.0, 79.3, 58.7, 64.0],
    [80.5, 34.0, 76.0, 64.2, 64.0],
    [83.0, 48.0, 84.8, 67.0, 54.0],
    [93.0, 46.0, 74.9, 48.4, 60.0],
    [67.9, 44.0, 74.6, 69.0, 56.0],
    [83.3, 40.0, 81.2, 46.0, 58.0],
    [56.9, 38.0, 85.3, 47.0, 58.0],
    [73.0, 34.0, 65.7, 73.2, 58.0],
    [95.7, 42.7, 75.0, 51.2, 56.0],
    [71.1, 45.3, 75.1, 44.9, 64.0],
    [55.8, 36.0, 70.8, 45.3, 76.0],
    [88.7, 44.0, 78.2, 68.2, 52.0],
    [68.3, 22.0, 81.6, 61.7, 56.0],
    [82.6, 42.0, 71.9, 60.9, 54.0],
    [81.7, 37.9, 79.3, 73.5, 48.0],
    [67.6, 47.2, 66.7, 39.8, 68.0]
]

#matrix = [
#    [71.7, 44.0, 81.8, 74.0, 3.7],
#    [75.6, 40.0, 74.4, 71.4, 4.2],
#    [84.2, 44.0, 87.1, 80.0, 2.9],
#    [79.4, 46.7, 66.6, 75.0, 3.8],
#    [86.6, 34.0, 79.3, 58.7, 3.2],
#    [80.5, 34.0, 76.0, 64.2, 3.2],
#    [83.0, 48.0, 84.8, 67.0, 2.7],
#    [93.0, 46.0, 74.9, 48.4, 3.0],
#    [67.9, 44.0, 74.6, 69.0, 2.8],
#    [83.3, 40.0, 81.2, 46.0, 2.9],
#    [56.9, 38.0, 85.3, 47.0, 2.9],
#    [73.0, 34.0, 65.7, 73.2, 2.9],
#    [95.7, 42.7, 75.0, 51.2, 2.8],
#    [71.1, 45.3, 75.1, 44.9, 3.2],
#    [55.8, 36.0, 70.8, 45.3, 3.8],
#    [88.7, 44.0, 78.2, 68.2, 2.6],
#    [68.3, 22.0, 81.6, 61.7, 2.8],
#    [82.6, 42.0, 71.9, 60.9, 2.7],
#    [81.7, 37.9, 79.3, 73.5, 2.4],
#    [67.6, 47.2, 66.7, 39.8, 3.4]
#]

# Transformando matriz em dataframe
df = pd.DataFrame(matrix,
                  columns = nome_colunas,
                  index = nome_faculdades)
df

,faculty,services,engagement,selectivity,reputation
Arizona State University (Carey),71.7,44.0,81.8,74.0,74.0
Indiana University-Bloomington (Kelley),75.6,40.0,74.4,71.4,84.0
Washington State University,84.2,44.0,87.1,80.0,58.0
University of Florida (Hough),79.4,46.7,66.6,75.0,76.0
Auburn University,86.6,34.0,79.3,58.7,64.0
University of Connecticut,80.5,34.0,76.0,64.2,64.0
California State University–Fullerton,83.0,48.0,84.8,67.0,54.0
University of Illinois–Springfield,93.0,46.0,74.9,48.4,60.0
Worcester Polytechnic Institute,67.9,44.0,74.6,69.0,56.0
Pennsylvania State University–World Campus,83.3,40.0,81.2,46.0,58.0
University of San Diego,56.9,38.0,85.3,47.0,58.0
University of Nebraska–Lincoln,73.0,34.0,65.7,73.2,58.0
Georgia College & State University (Bunting),95.7,42.7,75.0,51.2,56.0
University of Massachusetts–Amherst (Isenberg),71.1,45.3,75.1,44.9,64.0
Thunderbird School of Global Management,55.8,36.0,70.8,45.3,76.0
Central Michigan University,88.7,44.0,78.2,68.2,52.0
University of Michigan–Dearborn,68.3,22.0,81.6,61.7,56.0
University of North Texas,82.6,42.0,71.9,60.9,54.0
University of Tennessee–Martin,81.7,37.9,79.3,73.5,48.0
Syracuse University (Whitman),67.6,47.2,66.7,39.8,68.0

In [249]:
# Hiperparâmetros
matrix = np.array(matrix).T

n_columns = np.shape(matrix)[0]
n_lines = np.shape(matrix)[1]

Sj_list = []
Rj_list = []
Sj_temp_list = []
Qj_list = []
v = 0.5

# Definindo valores
for j in range(0, n_columns):
    
    for i in range(0, n_lines):
        
        if (criteria[j] == '-'):

            Fi_plus = min(matrix[j]) # best criteria value
            Fi_minus = max(matrix[j]) # worst criteria value
        
        else:
            Fi_plus = max(matrix[j]) # best criteria value
            Fi_minus = min(matrix[j]) # worst criteria value
        
        w = weight[j]
        case = matrix[j][i] # case value
        
        Sj = w * (Fi_plus - case)/(Fi_plus - Fi_minus)
        Sj_temp_list.append(Sj)

# Criando Sj e Rj
Sj_temp_list = np.reshape(Sj_temp_list, (n_columns, n_lines)).T
        
for i in range(0, n_lines):
    Sj = sum(Sj_temp_list[i])
    Sj_list.append(Sj)
    
    Rj = max(Sj_temp_list[i])
    Rj_list.append(Rj)
    
# Criando Qj
for i in range(0, n_lines):
    S_min = min(Sj_list)
    S_max = max(Sj_list)
    R_min = min(Rj_list)
    R_max = max(Rj_list)
    
    diff_S = S_max - S_min
    diff_R = R_max - R_min
    
    S = Sj_list[i]
    R = Rj_list[i]
    
    Qj = v * (S - S_min)/diff_S + (1 - v) * (R - R_min)/diff_R
    
    Qj_list.append(Qj)

# Acceptable Advantages C1
C1 = []
for i in range(0, n_lines):
     
    if i == n_lines - 1:
        C1.append('No')
    
    else:
        Q_a2 = Qj_list[i + 1]
        Q_a1 = Qj_list[i]
        
        DQ = 1/(n_lines - 1)
        
        if (Q_a2 - Q_a1 >= DQ):
            C1.append('Yes')
        else:
            C1.append('No')
            
# Acceptable Stability
C2 = []
for i in range(0, n_lines):
    if i >= 2:
        C2.append('No')
    else:
        if ((min(Sj_list) == Sj_list[i]) or (min(Rj_list) == Rj_list[i])):
            C2.append('Yes')
        else:
            C2.append('No')

# Visualizando
df['S'] = [round(num, 4) for num in Sj_list]
df['R'] = [round(num, 4) for num in Rj_list]
df['Q'] = [round(num, 4) for num in Qj_list]
df['C1'] = C1
#df['C2'] = C2

#df = df.sort_values(by = 'Q')
#df['Rank'] = range(1, n_lines + 1)
df

,faculty,services,engagement,selectivity,reputation,S,R,Q,C1
Arizona State University (Carey),71.7,44.0,81.8,74.0,74.0,0.2592,0.0694,0.0313,Yes
Indiana University-Bloomington (Kelley),75.6,40.0,74.4,71.4,84.0,0.3089,0.1662,0.3128,No
Washington State University,84.2,44.0,87.1,80.0,58.0,0.2292,0.1806,0.2639,Yes
University of Florida (Hough),79.4,46.7,66.6,75.0,76.0,0.4053,0.2682,0.6556,No
Auburn University,86.6,34.0,79.3,58.7,64.0,0.4577,0.1389,0.4031,No
University of Connecticut,80.5,34.0,76.0,64.2,64.0,0.4835,0.1452,0.4451,No
California State University–Fullerton,83.0,48.0,84.8,67.0,54.0,0.3543,0.2083,0.4602,Yes
University of Illinois–Springfield,93.0,46.0,74.9,48.4,60.0,0.5387,0.1965,0.6244,No
Worcester Polytechnic Institute,67.9,44.0,74.6,69.0,56.0,0.5200,0.1944,0.5999,Yes
Pennsylvania State University–World Campus,83.3,40.0,81.2,46.0,58.0,0.5372,0.2114,0.6583,No
University of San Diego,56.9,38.0,85.3,47.0,58.0,0.5586,0.2052,0.6658,Yes
University of Nebraska–Lincoln,73.0,34.0,65.7,73.2,58.0,0.6247,0.2800,0.9122,No
Georgia College & State University (Bunting),95.7,42.7,75.0,51.2,56.0,0.5543,0.1944,0.6357,Yes
University of Massachusetts–Amherst (Isenberg),71.1,45.3,75.1,44.9,64.0,0.5934,0.2183,0.7331,No
Thunderbird School of Global Management,55.8,36.0,70.8,45.3,76.0,0.6454,0.2158,0.7814,No
Central Michigan University,88.7,44.0,78.2,68.2,52.0,0.4483,0.2222,0.5912,Yes
University of Michigan–Dearborn,68.3,22.0,81.6,61.7,56.0,0.5658,0.1944,0.6476,Yes
University of North Texas,82.6,42.0,71.9,60.9,54.0,0.5875,0.2083,0.7033,No
University of Tennessee–Martin,81.7,37.9,79.3,73.5,48.0,0.4738,0.2500,0.6837,Yes
Syracuse University (Whitman),67.6,47.2,66.7,39.8,68.0,0.7089,0.2669,0.9689,No

## Replicando "Selection of industrial robots using compromise ranking and outranking methods"

In [231]:

# Criando nome dos robôs
nome_robos = ['asea_irb', 'cincinatti', 'cybotech',
             'hitachi', 'unimation', 'us_robots', 'yaskawa']
# Criando matriz com valores dos robôs
matrix = [
    [60, 0.40, 2540, 500, 990],
    [6.35, 0.15, 1016, 3000, 1041],
    [6.8, 0.10, 1727.2, 1500, 1676],
    [10, 0.20, 1000, 2000, 965],
    [2.5, 0.10, 560, 500, 915],
    [4.5, 0.08, 1016, 350, 508],
    [3, 0.10, 177, 1000, 920]
]

weight = [0.036, 0.192, 0.326, 0.326, 0.120]
criteria = ['+', '-', '+', '+', '+']

# Criando nome das colunas
nome_colunas = ['load_capacity', 'repeatability',
                'maximum tip speed', 'memory capacity', 'manipulator reach'
               ]

# Transformando matriz em dataframe
df = pd.DataFrame(matrix, columns = nome_colunas, index = nome_robos)
df

,load_capacity,repeatability,maximum tip speed,memory capacity,manipulator reach
asea_irb,60.00,0.40,2540.0,500,990
cincinatti,6.35,0.15,1016.0,3000,1041
cybotech,6.80,0.10,1727.2,1500,1676
hitachi,10.00,0.20,1000.0,2000,965
unimation,2.50,0.10,560.0,500,915
us_robots,4.50,0.08,1016.0,350,508
yaskawa,3.00,0.10,177.0,1000,920

In [232]:
# Hiperparâmetros
matrix = np.array(matrix).T

n_columns = np.shape(matrix)[0]
n_lines = np.shape(matrix)[1]

Sj_list = []
Rj_list = []
Sj_temp_list = []
Qj_list = []
v = 0.5

# Definindo valores
for j in range(0, n_columns):
    
    for i in range(0, n_lines):
        
        if (criteria[j] == '-'):

            Fi_plus = min(matrix[j]) # highest criteria value
            Fi_minus = max(matrix[j]) # lowest criteria value
        
        else:
            Fi_plus = max(matrix[j]) # highest criteria value
            Fi_minus = min(matrix[j]) # lowest criteria value
        
        w = weight[j]
        case = matrix[j][i] # case value
        
        Sj = w * (Fi_plus - case)/(Fi_plus - Fi_minus)
        Sj_temp_list.append(Sj)

# Criando Sj e Rj
Sj_temp_list = np.reshape(Sj_temp_list, (n_columns, n_lines)).T
        
for i in range(0, n_lines):
    Sj = sum(Sj_temp_list[i])
    Sj_list.append(round(Sj, 4))
    
    Rj = max(Sj_temp_list[i])
    Rj_list.append(round(Rj, 4))
    
# Criando Qj
for i in range(0, n_lines):
    S_min = min(Sj_list)
    S_max = max(Sj_list)
    R_min = min(Rj_list)
    R_max = max(Rj_list)
    
    diff_S = S_max - S_min
    diff_R = R_max - R_min
    
    S = Sj_list[i]
    R = Rj_list[i]
    
    Qj = v * (S - S_min)/diff_S + (1 - v) * (R - R_min)/diff_R
    
    Qj_list.append(round(Qj, 4))

# Acceptable Advantages C1
C1 = []
for i in range(0, n_lines):
     
    if i == n_lines - 1:
        C1.append('No')
    
    else:
        Q_a2 = Qj_list[i + 1]
        Q_a1 = Qj_list[i]
        
        DQ = 1/(n_lines - 1)
        
        if (Q_a2 - Q_a1 >= DQ):
            C1.append('Yes')
        else:
            C1.append('No')
            
# Acceptable Stability
#C2 = []
#for i in range(0, n_lines):
#     
#    if i >= 2:
#        C2.append('No')
#    
#    else:
#        if ((min(Sj_list) == Sj_list[i]) or (min(Rj_list) == Rj_list[i])):
#            C2.append('Yes')
#        
#        else:
#            C2.append('No')

# Visualizando
df['S'] = Sj_list
df['R'] = Rj_list
df['Q'] = Qj_list
df['C1'] = C1
#df['C2'] = C2

df = df.sort_values(by = 'Q')
df['Rank'] = range(1, n_lines + 1)
df

,load_capacity,repeatability,maximum tip speed,memory capacity,manipulator reach,S,R,Q,C1,Rank
cybotech,6.80,0.10,1727.2,1500,1676,0.3420,0.1845,0.0000,Yes,1
cincinatti,6.35,0.15,1016.0,3000,1041,0.3511,0.2103,0.1036,No,2
hitachi,10.00,0.20,1000.0,2000,965,0.5118,0.2125,0.3316,Yes,3
asea_irb,60.00,0.40,2540.0,500,990,0.5700,0.3075,0.7470,No,4
unimation,2.50,0.10,560.0,500,915,0.7069,0.3075,0.9346,No,5
us_robots,4.50,0.08,1016.0,350,508,0.6910,0.3260,0.9782,No,6
yaskawa,3.00,0.10,177.0,1000,920,0.6974,0.3260,0.9870,No,7